.elevator {
  position: absolute;
  height: 140px;
  width: 80px;
  border-radius: 25px;
  background-color: aqua;
  margin: 0%;
  padding: 0%;
  transition: top 1s ease-in-out 0s;
  animation-timing-function: linear;
}
.ele01 {
  left: 200px;
  background-color: aqua;
}
.ele02 {
  left: 300px;
  background-color: rgb(255, 136, 0);
}
.ele03 {
  left: 400px;
  background-color: rgb(25, 0, 255);
}
.ele04 {
  left: 500px;
  background-color: rgb(0, 255, 55);
}
.ele05 {
  left: 600px;
  background-color: rgb(251, 255, 0);
}
.ele06 {
  left: 700px;
  background-color: rgb(255, 0, 221);
}
.ele07 {
  left: 800px;
  background-color: rgb(255, 0, 0);
}
.ele08 {
  left: 900px;
  background-color: rgb(0, 0, 0);
}
.ele09 {
  left: 1000px;
  background-color: rgb(106, 0, 133);
}

.level {
  background-color: beige;
  height: 150px;
  margin: 0%;
  padding: 0%;
}
.btn {
  background-color: rgb(161, 228, 255);
  border-color: rgb(71, 122, 102);
  height: 30px;
  width: 50px;
  border-radius: 10px;
}
